<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body text-center">
          <h3>All Blog Posts</h3>
          <p>Manage all the posts</p>
          <button
            routerLink="/posts/new"
            class="btn btn-primary m-2 text-uppercase"
          >
            Add Post
          </button>
          <button routerLink="/" class="btn btn-info text-uppercase">
            Back to dash
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
